# UPB-CIENTIFICA
# File Sync Client - Linux

SYNC_SERVER=127.0.0.1:50055
SYNC_AUTH_URL=http://127.0.0.1:8081

SYNC_USERNAME=usuario
SYNC_PASSWORD=CAMBIAR_LOCALMENTE

SYNC_DEVICE_ID=linux-equipo-001
SYNC_DIRECTORY=/home/usuario/UPB-Cientifica
