# No colocar secretos reales en Git.

COORDINATOR_IP=192.168.10.101

HPC_RMI_PORT=1100
HPC_COORDINATOR_RMI_PORT=1101

HPC_BIND_ADDRESS=192.168.10.101
HPC_ADVERTISE_ADDRESS=192.168.10.101

HPC_AUTH_SERVICE=https://IP_SERVIDOR_AUTH:8081

HPC_DB_URL=jdbc:postgresql://IP_POSTGRES:5434/upb_cientifica
HPC_DB_USER=upb_app

# Exportar localmente:
# HPC_DB_PASSWORD=...
