# No colocar secretos reales en Git.

COORDINATOR_IP=192.168.10.101
COORDINATOR_PORT=1100

WORKER_IP=192.168.10.102
NODE_ID=hpc-node-01
LOGICAL_HOSTNAME=hpc-node-01

CPU_CORES=4
WORKER_RMI_PORT=12001

HPC_WORKER_BIND_ADDRESS=192.168.10.102
HPC_WORKER_ADVERTISE_ADDRESS=192.168.10.102

HPC_MPI_HOSTFILE=/tmp/upb-hpc-hosts
HPC_MPI_MAX_PROCESSES=6
